*{
	box-sizing: border-box;
}
[class*="col-"]{
	float: left;
	padding: 15px;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.row::after{
	content: "";
	clear: both;
	display: block;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
body{
	font-family: sans-serif;
	margin:0;
	padding: 0;
}
section#content .container{
	background: #e7e8ea;
}
section#content .search{
	display: flex;
	flex-wrap: wrap;
	background: #dddee0;
}section#content .search .search_title{
	width: 60%;
	padding-top: 32px;
	padding-left: 20px;
}
section#content .search .search_title h3{
	margin: 0;
	color: #69696a;
	font-size: 27px;
	font-weight: 300;

}
section#content .search .search_title p{
	color: #5f7390;
	margin:0 0 10px;
}
section#content .search button{
	width: 20%;
	height: 25px;
	text-align: left;
	margin-top: 30px;
	border:none;
	border-radius: 8px;
	background: #fcfcfc;
	display: flex;
	justify-content: flex-start;
	
}
/*start demo*/
.demo .list_demo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.demo .list_demo .list_demo_item{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 23px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d0d9e6;

}
.demo .list_demo .list_demo_item img{
	border: 1px solid #ccd2df;
	box-shadow: 2px 2px 3px #d0d9e6;
}
.demo .list_demo .list_demo_item .item_detail{
	margin-left: 30px;
}
.demo .list_demo .list_demo_item .item_detail h2{
	color: #8d8e8f;
	margin:5px;
	font-weight: 300;
}
.demo .list_demo .list_demo_item .item_detail span{
	color: #76869e;
	margin:5px;
}
.demo .list_demo .list_demo_item .item_detail p{
	color: #8d8e8f;
	}
.demo .list_demo .list_demo_item .item_detail .icon_blog{
	display: inline-block;
}
.demo .list_demo .list_demo_item .item_detail button{
	float: right;
	padding: 5px 10px;
	background: #20529d;
	color: #ffffff;
	border-radius: 7px;
	box-shadow: 3px 2px 2px #8d8e8f;
}
/*start menu_blog*/
.menu_wrap{
	background: #e1e2e4;
}
.menu_blog h2{
	color: #9b9c9d;
	font-size: 27px;
	font-weight: 300;
	margin:5px 0;
}
.menu_blog ul {
	margin:0;
	padding: 0;
}

.menu_blog ul li{
	list-style: none;
	padding: 9px;
}
.menu_blog ul li a{
	text-decoration: none;
	color: #828181;
}
.menu_blog ul li a img{
	margin-right: 4px;
}
 /*pagination*/
.wrap_pagination ul{
	position: relative;
	background: #fff;
	display: flex;
	padding: 10px 20px;
	border-radius: 50px;
	box-shadow: 0 5px 15px rgba(0,0,0,.2)
}
.wrap_pagination ul li{
	list-style: none;
	margin: 0 5px;
	line-height: 50px;
}
.wrap_pagination ul li.pageNumber{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.wrap_pagination ul li a{
	display: block;
	color:#777;
	text-decoration: none;
	font-weight: 600;
	border-radius: 50%;
}
.wrap_pagination ul li.pageNumber:hover a,
.wrap_pagination ul li.pageNumber.active a
{
	background: #333;
	color: #fff;
}
.wrap_pagination ul li:first-child{
	margin-right: 30px;
	font-weight: 700;
	font-size: 20px;
}
.wrap_pagination ul li:last-child{
	margin-right: 30px;
	font-weight: 700;
	font-size: 20px;
}



@media only screen and (max-width: 768px){
	[class*="col-"]{
	float: none;
	display: block;
	width: 100%;
	text-align: center;
}

 .container{
 	width: 100%;
 	margin: 0 auto;
 }
 }